.pair-view {
  width: 40px;
  height: 40px;
  margin: 1px;
  float: left;
  background-color: #DDDDFF;
  font-family: monospace;
  font-size: 10px;
}

.experiment-container {
  width: 440px;
  float: left;
}
